apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo-app
spec:
  replicas: 3
  template:
    spec:
      containers:
        - name: app
          image: REPLACE_WITH_ECR_IMAGE:REPLACE_WITH_IMMUTABLE_TAG
          imagePullPolicy: IfNotPresent
