apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
labels:
  - pairs:
      environment: prod
    includeSelectors: false
    includeTemplates: true
resources:
  - ../../base
patches:
  - path: patch-resourcequota-apps.yaml
