apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: demo
resources:
  - namespace.yaml
  - serviceaccount.yaml
  - configmap.yaml
  - deployment.yaml
  - service.yaml
  - ingress.yaml
  - pdb.yaml
  - hpa.yaml
  - networkpolicy-deny-all.yaml
  - networkpolicy-allow-ingress.yaml
  - networkpolicy-allow-dns.yaml
  - networkpolicy-allow-db-egress.yaml
