apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo-app
spec:
  replicas: 1
  template:
    spec:
      containers:
        - name: app
          image: REPLACE_WITH_ECR_IMAGE:latest
          imagePullPolicy: Always
